@use "./_mixins/medias"as medias;

.c-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__head {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__text {
        display: flex;
        align-items: center;
        gap: 7px;
        white-space: nowrap;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1.28px;
    }

    &__slogan {
        font-size: 20px;
    }

    &__date {
        font-size: 18px;
        color: #919191;
        text-align: center;
    }

    &__discount {
        font-size: 24px;
        gap: 4px;

        &--uniopen {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }
    }

    &__img {
        width: 180px;
        height: 30px;
        object-fit: cover;
        margin-bottom: 4px;

        &--sm {
            width: 150px;
            height: 25px;
        }

        &--lg {
            width: 218px;
            height: 36px;
        }
    }

    &__register {
        font-size: 14px;
    }

    &__icon {
        position: absolute;
        top: 15.5px;
        left: -37px;

        &--right {
            left: auto;
            right: -37px;
        }
    }

    @include medias.breakpoint-down("md") {

        &__text {
            font-size: 32px;
        }

        &__discount {
            font-size: 20px;

            &--process {
                text-align: center;
            }
        }

        &__icon {
            &--left {
                top: 12px;
            }
        }

        &__img {
            &--lg {
                width: 160px;
                height: 26px;
            }
        }
    }
}

.c-kv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__content {
        display: flex;
        justify-content: center;
        gap: 40px;
        width: 100%;
    }

    &__item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 20px 0 20px 40px;
        width: 100%;
        max-width: 600px;
        flex: 1 1 auto;

        &--card {
            align-items: center;
            gap: 40px;
            padding: 0 40px;
        }
    }

    &__introduce {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        gap: 12px;
    }

    &__slogan {
        font-size: 24px;
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 48px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1.92px;
    }

    &__img {
        width: 249px;
        height: 42px;
        margin-right: 24px;
        object-fit: cover;
    }

    &__discount {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1.04px;

        &--highlight {
            color: #9B7BFF;
            font-size: 32px;
            letter-spacing: 1.28px;
        }
    }

    &__scroll {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 76px;
        width: 80px;
        height: 80px;
        color: #9B7BFF;
        border-radius: 205.128px;
        border: 1.026px dashed #CFC0FF;

        &::after {
            content: '';
            position: absolute;
            top: -31px;
            transform: translateY(-50%);
            width: 1px;
            height: 10px;
            background-color: #9B7BFF;
            animation: moveLine 1.5s linear infinite;
        }

        &::before {
            content: '';
            position: absolute;
            top: -6px;
            transform: translateY(-50%);
            width: 1px;
            height: 60px;
            background-color: #CFC0FF;
        }
    }

    @keyframes moveLine {
        from {
            top: -31px;
        }

        to {
            top: 19px;
        }
    }

    @include medias.breakpoint-down("md") {
        &__content {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        &__title {
            font-size: 30px;
        }

        &__img {
            width: 205px;
            height: 34px;
        }

        &__slogan {
            font-size: 20px;
        }

        &__action {
            margin: 0 auto;
            margin-top: 32px;
        }

        &__item {
            width: 100%;
            max-width: 350px;
            gap: 0;
            padding: 0;

            &--card {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 40px;
                padding: 0;
            }
        }

        &__scroll {
            font-size: 14px;
            width: 70px;
            height: 70px;
            margin-top: 70px;

            &::before {
                height: 50px;
            }
        }
    }
}

.c-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    &__figure {
        width: 100%;
        max-width: 800px;
        aspect-ratio: 16 / 9;

        >iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    &__more {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 18px;
    }

    &__qrcode {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include medias.breakpoint-down("md") {
        &__content {
            width: 600px;
        }
    }

    @include medias.breakpoint-down("sm") {
        &__content {
            width: 100%;
        }

        &__more {
            display: none;
        }
    }
}


.c-discount {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__content {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 80px;
    }

    &__more {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    @include medias.breakpoint-down("md") {
        &__content {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }
    }
}

.c-enjoy {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;

    &__wrap {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 60px;
        padding-bottom: 40px;
        width: 54.7%;
        min-width: 820px;
        min-height: 500px;
        background: linear-gradient(296deg, #E3CFAD 0%, #BB975D 100%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 48px;
        padding-right: 52px;
    }

    &__link {
        width: 54.7%;
        min-width: 820px;
        padding-top: 24px;
        text-align: center;
    }

    &__card {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    &__discount {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;
        margin-top: 16px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        color: white;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 0.64px;

        &+& {
            &::after {
                content: '';
                position: absolute;
                left: -32px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 1px;
                height: 24px;
                background-color: white;
            }
        }
    }

    &__img {
        position: absolute;
        right: 0;
        top: 60px;
        display: block;
        width: calc(50% + 120px);
        margin-left: -120px;
        height: 520px;
        flex: 0 0 auto;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }

    &__title {
        width: fit-content;
        margin: auto;
    }

    @include medias.breakpoint-down("md") {

        &__wrap {
            justify-content: center;
            width: 100%;
            min-width: 0;
        }

        &__card {
            margin-top: 40px;
        }

        &__img {
            display: none;
        }

        &__link {
            padding: 20px 0 0 0;
            width: 100%;
            min-width: auto;
        }
    }

    @include medias.breakpoint-down("sm") {

        &__content {
            padding-right: 20px;
            padding-left: 20px;
        }

        &__discount {
            justify-content: space-between;
            gap: 16px 8px;
        }

        &__item {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            width: 100%;

            &+& {
                &::after {
                    content: none;
                }
            }
        }
    }
}

.c-savor {
    width: 100%;

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
    }

    &__nav {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 40px 40px 40px 120px;
        margin-right: 0;
        margin-left: auto;
        border-right: 1px solid #DBDBDB;
        flex: 0 0 auto;
    }

    &__item {
        position: relative;
        font-size: 18px;
        color: #AD8F5E;
        padding-left: 20px;
        flex: 0 0 auto;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #B9B9B9;
        }

        &.is-active {
            color: #FF8A3D;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -2px;
                transform: translateY(-50%);
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #FFD0B1;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 2px;
                transform: translateY(-50%);
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #FF8A3D;
                z-index: 1;
            }
        }
    }

    &__panel {
        display: flex;
        width: 100%;
    }

    &__card {
        width: 100%;
        max-width: 548px;
    }

    &__img {
        position: relative;
        display: block;
        width: 100%;
        max-width: 840px;
        height: 602px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left center;
        }
    }

    @include medias.breakpoint-down("md") {
        &__content {
            flex-direction: column;
        }

        &__nav {
            box-sizing: border-box;
            position: sticky;
            top: 57px;
            left: 0;
            right: 0;
            flex-direction: row;
            margin: 0 auto;
            padding: 20px;
            width: 100%;
            background: #fff;
            border: none;
            border-bottom: 1px solid #DBDBDB;
            z-index: 99;
            overflow-x: auto;
            scrollbar-width: none;
        }

        &__item {
            padding-left: 0;

            &::before {
                content: none;
            }

            &.is-active {
                &::after {
                    content: none;
                }

                &::before {
                    content: none;
                }
            }
        }

        &__panel {
            flex-direction: column;
            height: fit-content;
        }

        &__card {
            width: 100%;
            max-width: 100%;
            height: fit-content;
        }

        &__img {
            width: 100%;
            max-width: 100%;
            height: 390px;
        }
    }

    @include medias.breakpoint-down('sm') {}
}

.c-finance {
    position: relative;
    width: 100%;

    &__head {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        max-width: 82.7vw;
        min-height: 200px;
        padding-top: 40px;
        padding-left: 100px;
        background: var(--Linear, linear-gradient(90deg, #BB975D 0.03%, #E3CFAD 99.97%));
    }

    &__title {
        box-sizing: border-box;
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin-right: 0;
        margin-left: auto;
        padding-left: 10px;
    }

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 980px;
        margin-right: 0;
        margin-left: auto;
        z-index: 10;
    }

    @media screen and (min-width:1550px) {
        &__title {
            transform: translateX(-100px);
        }

        &__content {
            max-width: 1300px;
        }
    }



    @include medias.breakpoint-down("md") {
        &__head {
            max-width: 100%;
            height: 390px;
            padding-top: 60px;
            padding-left: 0;
        }

        &__title {
            padding-left: 20px;
        }

        &__content {
            max-width: 100%;
        }
    }
}

.c-life {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;

    &__wrap {
        border: 1px solid #DBDBDB;
        background: #FFF;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: block;
        width: 700px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__introduce {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        padding: 40px 50px;
        width: 100%;
        max-width: 500px;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__discount {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__row {
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }

    &__num {
        display: flex;
        align-items: center;
    }

    &__action {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 12px;
    }

    &__item {
        color: #919191;
        position: relative;
    }

    &__notice {
        font-size: 14px;
        color: #919191;
        margin-top: 8px;
    }

    @include medias.breakpoint-down("md") {
        &__wrap {
            border: none;
        }

        &__content {
            flex-direction: column;
        }

        &__introduce {
            max-width: 100%;
            padding: 40px 20px;
        }

        &__action {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            margin-top: 24px;
        }

        &__rebate {
            top: auto;
            bottom: -224px;
            right: 0;
        }

        &__img {
            width: 100%;
            height: 223px;
        }

        &__notice {
            padding: 0 20px;
        }
    }
}

.c-logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;

    &__content {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.c-notice {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #DBDBDB;
    background-color: #F2F2F2;

    &__wrap {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__item {
        position: relative;

        &+& {
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -20px;
                width: 100%;
                height: 1px;
                background: #dbdbdb;
            }
        }
    }

    &__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__title {
        color: #878787;
        font-size: 20px;
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        transition:
            grid-template-rows 0.4s cubic-bezier(.5, 0, .5, 1),
            opacity 0.35s;

        &.is-active {
            grid-template-rows: 1fr;
            opacity: 1;
        }
    }

    &__inner {
        overflow: hidden;
        transition: 0.35s;
    }
}

.c-process {
    width: 100%;
    padding-bottom: 40px;

    &__title {
        padding: 80px 20px 20px 20px;
        overflow: hidden;
    }

    &__action {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding-top: 40px;
    }

    &__footer {
        width: 100%;
        height: 20px;
        background: var(--Linear, linear-gradient(90deg, #BB975D 0.03%, #E3CFAD 99.97%));
    }

    &+& {
        border-top: 1px solid var(--DBDBDB, #DBDBDB);
    }
}

.l-process__item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.c-unitBanner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px 0px;
    max-width: 1200px;
    margin: 0 auto;

    &__subTitle {
        font-size: 32px;
        color: var(--9B7BFF, #9B7BFF);
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1.28px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1.92px;
        white-space: nowrap;

        img {
            width: 249px;
            height: 42px;
            object-fit: contain;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        font-size: 26px;
        font-weight: bold;
        line-height: 120%;

        p {
            display: inline-flex;
            align-items: center;
            gap: 4px;
            margin: 0;
            letter-spacing: 1.04px;
        }
    }

    &__num {
        color: var(--9B7BFF, #9B7BFF);
        font-size: 32px;
        font-weight: bold;
        line-height: 120%;
        letter-spacing: 1.28px;
    }

    @include medias.breakpoint-down("md") {
        padding: 40px 28px;

        &__subTitle {
            font-size: 20px;
        }

        &__title {
            gap: 16px;
            font-size: 30px;

            img {
                width: 205px;
                height: 34px;
            }
        }

        &__item {
            font-size: 20px;
        }

        &__num {
            font-size: 26px;
        }
    }
}

.c-noticeList {
    $root: &;

    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 20px;

    &__title {
        font-size: 14px;
        color: #919191;
    }

    &__list {
        margin: 0;
        padding-left: 21px;

        &--alpha {
            padding-left: 18px;

            @at-root & #{$root} {
                &__item {
                    list-style: lower-alpha;
                }
            }
        }
    }

    &__item {
        font-size: 14px;
        color: #919191;
    }

    &__more {
        margin-top: 8px;
    }
}