@use "./_mixins/medias"as medias;

.c-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__head {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__text {
        white-space: nowrap;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
    }

    &__date {
        font-size: 16px;
        color: #919191;
        text-align: center;
    }

    &__discount {
        font-size: 20px;
    }

    &__register {
        font-size: 14px;
    }

    &__icon {
        position: absolute;
        top: 13.5px;
        left: -51px;

        &--right {
            left: auto;
            right: -51px;
        }
    }

    @include medias.breakpoint-down("md") {
        &__date {
            font-size: 14px;
        }

        &__discount {
            &--process {
                text-align: center;
            }
        }

        &__icon {
            &--left {
                top: 12px;
            }
        }
    }
}

.c-kv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__content {
        display: flex;
        gap: 40px;
    }

    &__item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 0 40px 40px;
        width: 600px;
        flex: 1 1 auto;

        &--card {
            align-items: center;
            padding: 0 40px;
        }
    }

    &__introduce {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        white-space: nowrap;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
    }

    &__slogan {
        font-size: 48px;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 4px;
    }

    &__uniopen {
        font-family: 'Poppins';
        font-size: 44px;
        font-weight: bold;
        line-height: 1.2;
    }

    &__subSlogan {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 24px;
    }

    &__action {
        padding-bottom: 40px;

        &--mb {
            display: none;
        }
    }

    &__scroll {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 76px;
        width: 80px;
        height: 80px;
        color: #9B7BFF;
        border-radius: 205.128px;
        border: 1.026px dashed #CFC0FF;

        &::after {
            content: '';
            position: absolute;
            top: -31px;
            transform: translateY(-50%);
            width: 1px;
            height: 10px;
            background-color: #9B7BFF;
            animation: moveLine 1.5s linear infinite;
        }

        &::before {
            content: '';
            position: absolute;
            top: -6px;
            transform: translateY(-50%);
            width: 1px;
            height: 60px;
            background-color: #CFC0FF;
        }
    }

    @keyframes moveLine {
        from {
            top: -31px;
        }

        to {
            top: 19px;
        }
    }

    @include medias.breakpoint-down("md") {
        &__content {
            flex-direction: column;
            gap: 40px;
        }

        &__title {
            font-size: 20px;
        }

        &__slogan {
            font-size: 30px;
        }

        &__uniopen {
            font-size: 28px;
        }

        &__subSlogan {
            font-size: 20px;
            font-weight: bold;
            margin-top: 16px;
        }

        &__action {
            display: none;

            &--mb {
                display: flex;
                margin-top: 20px;
            }
        }

        &__item {
            width: 350px;
            gap: 0;
            padding: 0;

            &--card {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 40px;
                padding: 0;
            }
        }

        &__scroll {
            font-size: 14px;
            width: 70px;
            height: 70px;
            margin-top: 70px;

            &::before {
                height: 50px;
            }
        }
    }
}

.c-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &__img {
        display: block;
        width: 800px;
        height: 450px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include medias.breakpoint-down("md") {
        &__img {
            display: block;
            width: 600px;
            height: 336px;
            flex: 0 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include medias.breakpoint-down("sm") {
        &__img {
            display: block;
            width: 300px;
            height: 168px;
            flex: 0 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.c-discount {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__content {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 20px;
    }

    &__more {
        display: flex;
        justify-content: center;
    }

    @include medias.breakpoint-down("md") {
        &__content {
            flex-direction: column;
            gap: 28px;
        }
    }
}

.c-extravagant {
    display: flex;
    width: 100%;

    &__wrap {
        box-sizing: border-box;
        position: relative;
        top: -47px;
        display: flex;
        justify-content: flex-end;
        padding-top: 40px;
        padding-bottom: 28px;
        width: 54.7%;
        min-height: 500px;
        background: linear-gradient(296deg, #E3CFAD 0%, #BB975D 100%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 48px;
        padding-right: 52px;
        width: 100%;
        max-width: 632px;
    }

    &__tab {
        display: flex;
        margin-top: 20px;
    }

    &__item {
        box-sizing: border-box;
        position: relative;
        padding: 10px 20px;
        font-size: 20px;
        color: #AD8F5E;
        background: #FFF2D7;
        cursor: pointer;

        &.is-active {
            color: #FFF;
            background: #9A7A5F;

            &::before {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid #9A7A5F;
                z-index: 10;
            }
        }
    }

    &__more {
        margin-top: 20px;
    }

    &__img {
        position: absolute;
        right: 0;
        display: block;
        width: calc(50% + 120px);
        margin-left: -120px;
        height: 500px;
        flex: 0 0 auto;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }

    @include medias.breakpoint-down("md") {

        &__wrap {
            justify-content: center;
            width: 100%;
        }

        &__item {
            font-size: 16px;
        }

        &__img {
            display: none;
        }

        &__more {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    @include medias.breakpoint-down("sm") {

        &__content {
            padding-right: 20px;
            padding-left: 20px;
        }

        &__more {
            margin-top: 52px;
        }
    }
}

.c-enjoy {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 800px;
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    &__card {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }

    &__bg {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 800px;
        height: 190px;
        background: var(--Linear, linear-gradient(90deg, #BB975D 0.03%, #E3CFAD 99.97%));
        z-index: -1;
    }

    &__more {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    @include medias.breakpoint-down("sm") {
        &__card {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__bg {
            height: 146px;
        }
    }
}

.c-savor {
    width: 100%;

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
    }

    &__nav {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 68px 40px 20px;
        margin-right: 0;
        margin-left: auto;
        border-right: 1px solid #DBDBDB;
        flex: 0 0 auto;
    }

    &__item {
        position: relative;
        font-size: 14px;
        color: #AD8F5E;
        padding-left: 20px;
        flex: 0 0 auto;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #B9B9B9;
        }

        &.is-active {
            color: #9B7BFF;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -2px;
                transform: translateY(-50%);
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #CFC0FF;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 2px;
                transform: translateY(-50%);
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #9B7BFF;
                z-index: 1;
            }
        }
    }

    &__panel {
        display: flex;
        width: 100%;
    }

    &__card {
        width: 100%;
    }

    &__img {
        position: relative;
        display: block;
        width: 772px;
        height: 602px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.has-starbucksLogo {
            &::before {
                content: '';
                position: absolute;
                left: -50px;
                top: 69px;
                transform: translateY(-50%);
                display: block;
                width: 100px;
                height: 100px;
                background-image: url(../../images/section/savor/starbucksLogo.png);
                z-index: 10;
            }
        }
    }

    @include medias.breakpoint-down("md") {
        &__content {
            flex-direction: column;
        }

        &__nav {
            box-sizing: border-box;
            position: sticky;
            top: 57px;
            left: 0;
            right: 0;
            flex-direction: row;
            margin: 0 auto;
            padding: 20px;
            width: 100%;
            background: #fff;
            border: none;
            border-bottom: 1px solid #DBDBDB;
            z-index: 99;
            overflow-x: auto;
            scrollbar-width: none;
        }

        &__item {
            padding-left: 0;

            &::before {
                content: none;
            }

            &.is-active {
                &::after {
                    content: none;
                }

                &::before {
                    content: none;
                }
            }
        }

        &__panel {
            flex-direction: column;
        }

        &__card {
            width: 100%;
            max-width: 100%;
        }

        &__img {
            width: 100%;
            height: 390px;

            &.has-starbucksLogo {
                &::before {
                    content: none;
                }
            }
        }
    }

    @include medias.breakpoint-down('md') {
        &__panel {
            height: fit-content;
        }

        &__card {
            height: fit-content;
        }

        &__nav {}
    }

    @include medias.breakpoint-down('sm') {}
}

.c-finance {
    position: relative;
    width: 100%;

    &__head {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        max-width: 82.7vw;
        min-height: 200px;
        padding-top: 40px;
        background: var(--Linear, linear-gradient(90deg, #BB975D 0.03%, #E3CFAD 99.97%));
    }

    &__title {
        box-sizing: border-box;
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin-right: 0;
        margin-left: auto;
        padding-left: 20px;
    }

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1020px;
        margin-right: 0;
        margin-left: auto;
        z-index: 10;
    }

    @include medias.breakpoint-down("md") {
        &__head {
            padding-top: 60px;
        }

        &__content {
            max-width: 100%;
        }
    }

    @include medias.breakpoint-down("sm") {
        &__head {
            max-width: 100%;
            height: 390px;
        }
    }
}

.c-life {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;

    &__wrap {
        border: 1px solid #DBDBDB;
        background: #FFF;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: block;
        width: 700px;
        height: 400px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__introduce {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
        padding: 50px;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__discount {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    &__rebate {
        box-sizing: border-box;
        position: absolute;
        top: 22px;
        right: -60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        padding: 10px;
        font-size: 20px;
        color: #FFF;
        background-color: #9B7BFF;
    }

    &__num {
        display: flex;
        align-items: center;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    &__item {
        color: #919191;
        position: relative;
    }

    @include medias.breakpoint-down("md") {
        &__wrap {
            border: none;
        }

        &__content {
            flex-direction: column;
        }

        &__introduce {
            max-width: 100%;
            padding: 20px 20px 20px 50px;
        }

        &__discount {
            font-size: 18px;
        }

        &__action {
            margin-top: 20px;
        }

        &__rebate {
            top: auto;
            bottom: -224px;
            right: 0;
        }

        &__img {
            width: 100%;
            height: 223px;
        }

        &__more {
            justify-content: flex-start;
            padding: 20px;
        }
    }
}

.c-card {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__title {
        overflow: hidden;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 900px;
    }
}

.c-notice {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #DBDBDB;

    &__wrap {
        box-sizing: border-box;
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__title {
        color: #878787;
        font-size: 20px;
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        transition:
            grid-template-rows 0.4s cubic-bezier(.5, 0, .5, 1),
            opacity 0.35s;

        &.is-active {
            grid-template-rows: 1fr;
            opacity: 1;
        }
    }

    &__inner {
        overflow: hidden;
        transition: 0.35s;
    }
}

.c-process {
    width: 100%;

    &__title {
        padding: 40px 20px;
        overflow: hidden;
    }

    &__wrap {
        border-top: 1px solid #DBDBDB;
    }

    &__content {
        box-sizing: border-box;
        display: flex;
        gap: 80px;
        white-space: nowrap;
        margin-left: 259px;
        padding: 40px 0 40px 40px;
        border-left: 1px solid #DBDBDB;
    }

    &__item {
        position: relative;
        display: flex;
    }

    &__next {
        position: absolute;
        right: 24px;
        display: flex;
        align-items: center;
        height: 100%;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 1px;
            height: calc(50% - 20px);
            background: #DBDBDB;
            transform: translateX(-50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    &__footer {
        width: 100%;
        height: 20px;
        background: var(--Linear, linear-gradient(90deg, #BB975D 0.03%, #E3CFAD 99.97%));
    }

    @include medias.breakpoint-down("md") {
        &__content {
            margin-left: 20px;
        }
    }
}