@use "./_mixins/medias"as medias;

.l-block {
    $root: &;

    position: relative;
    overflow: hidden;

    &__wrap {
        box-sizing: border-box;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__content {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__item {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        &--kv {
            margin-top: 138px;
        }

        &--video {}

        &--discount {
            background: url(../../images/section/discount/bg.jpg) no-repeat center/cover;
        }

        &--extravagant {
            margin-top: 0;
        }

        &--enjoy {
            margin-top: 100px;
            margin-bottom: 60px;
        }

        &--savor {
            margin-top: 56px;
            margin-bottom: 56px;
        }

        &--card {
            margin-top: 100px;
            margin-bottom: 100px;
            background: url(../../images/section/card/bg.jpg) no-repeat center/cover;
        }

        &--process {
            margin-top: 58px;
        }
    }

    @include medias.breakpoint-down("md") {
        &__item {
            margin-top: 60px;

            &--kv {
                margin-top: 30px;
            }
        }
    }
}