@use "./_mixins/medias"as medias;

.o-card {
    display: flex;
    align-items: center;
    gap: 40px;

    &+& {
        margin-top: 40px;
    }

    &__img {
        display: block;
        width: 253px;
        height: 160px;
        flex: 0 0 auto;
        border-radius: 12px;
        box-shadow: 5px 5px 4px 0 rgba(255, 138, 61, 0.2);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--t {
            box-shadow: 5px 5px 4px 0 rgba(125, 93, 255, 0.2);
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        gap: 4px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    @include medias.breakpoint-down("md") {
        flex-direction: column;
        gap: 10px;

        &+& {
            margin-top: 0;
        }

        &__img {
            width: 126px;
            height: 80px;
        }

        &__name {
            font-size: 20px;
            font-weight: normal;
            gap: 4px;
        }
    }
}

.c-discountCard {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 30px;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: fit-content;

    &__head {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4px;
        font-size: 24px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 100%;
    }

    &__date {
        font-size: 14px;
        color: #919191;
    }

    &__task {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 240px;
        height: 100%;
        gap: 4px;
        flex: 1 1 auto;
    }

    &__reward {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__focus {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
        color: #FF8A3D;

        &--word {
            font-size: 24px;
        }
    }

    &__icon {
        position: absolute;
        top: -15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__total {
        position: absolute;
        bottom: -18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 4px 10px;
        font-size: 14px;
        color: #9B7BFF;
        border-radius: 20px;
        border: 1px solid #CFC0FF;
        background: #FFF;
    }

    @include medias.breakpoint-down("md") {
        width: 350px;
        padding: 30px 20px;
    }
}

.c-extravagantCard {
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 20px;
    padding: 40px 80px 20px 40px;
    width: 100%;
    max-width: 632px;
    background: #FFF;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.10);

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        min-width: 200px;
        min-height: 148px;

        &--md {
            min-width: 240px;
        }
    }

    &__add {
        position: relative;
        display: flex;
        align-items: center;
        height: fit-content;
        padding-top: 47.5px;
        padding-bottom: 47.5px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 1px;
            height: 43.5px;
            background: #DBDBDB;
            transform: translateX(-50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    &__title {
        font-size: 24px;
    }

    &__feedback {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        line-height: 1;
    }

    &__num {
        font-size: 48px;
        line-height: 1.2;
        font-weight: bold;
        color: #FF8A3D;
    }

    &__more {
        text-align: center;
        font-size: 14px;
        color: #919191;
    }

    &__high {
        position: absolute;
        top: 48px;
        right: -58px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        padding: 20px;
        font-size: 22px;
        background-color: #9B7BFF;
    }

    @include medias.breakpoint-down("sm") {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 30px 60px 30px;
        gap: 10px;

        &__add {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                height: 1px;
                width: calc(50% - 40px);
                background: #DBDBDB;
                transform: translateY(-50%);
            }

            &::before {
                left: 20px;
            }

            &::after {
                left: calc(50% + 20px);
            }
        }

        &__high {
            position: absolute;
            flex-direction: row;
            top: auto;
            right: auto;
            bottom: -28px;
            padding: 4px 20px;
            min-height: auto;
        }

        &__item {
            min-width: 0;
        }
    }
}

.c-enjoyCard {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    width: 100%;
    background: #FFF;
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.10);

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        width: 220px;

        &+& {
            &::before {
                content: '';
                position: absolute;
                display: block;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 110px;
                background-color: #9B7BFF;
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
    }

    &__discount {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
    }

    &__num {
        font-size: 48px;
        font-weight: bold;
        color: #FF8A3D;
        line-height: 1.2;
    }

    @include medias.breakpoint-down("sm") {
        gap: 20px;
        padding: 30px 16px;

        &__item {
            width: calc((100% - 2px - 40px) / 3);

            &+& {
                &::before {
                    content: '';
                    left: -10px;
                }
            }
        }

        &__title {
            font-size: 16px;
        }

        &__num {
            font-size: 40px;
        }
    }
}

.c-savorCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        border-bottom: 1px solid #DBDBDB;
        background: #FAF5EB;
    }

    &__content {
        box-sizing: border-box;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 40px;
        padding: 20px 30px;
        width: 100%;
        height: 479px;
    }

    &__title {
        font-size: 22px;
    }

    &__item {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &+& {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -20px;
                width: 1px;
                height: 100%;
                background: #DBDBDB;
                z-index: 1;
            }

            &:nth-of-type(odd) {
                &::before {
                    content: none;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -20px;
                    width: 488px;
                    height: 1px;
                    background: #DBDBDB;
                    z-index: 1;
                }
            }
        }

        &:nth-last-child(1):nth-of-type(odd) {
            grid-column: span 2;
        }
    }


    &__introduce {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    &__discount {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
    }

    &__num {
        position: relative;
        top: -1px;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
        color: #FF8A3D;
    }

    &__unit {
        position: relative;
        top: -1px;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.2;
        color: #FF8A3D;
    }

    &__img {
        display: block;
        width: 150px;
        height: 150px;
        margin-top: 4px;
        padding: 10px 32px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 14px 20px;
        border-top: 1px solid #DBDBDB;
    }

    @include medias.breakpoint-down('md') {
        &__content {
            overflow: hidden;
            transition: max-height 0.3s ease;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            height: auto;
        }

        &__btn {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__item {
            flex-direction: row;
            gap: 20px;

            &+& {
                &::after {
                    content: none;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -20px;
                    width: 100%;
                    height: 1px;
                    background: #DBDBDB;
                    z-index: 1;
                }

                &:nth-of-type(odd) {
                    &::after {
                        width: 100%;
                    }
                }
            }

            &:nth-last-child(1):nth-of-type(odd) {
                grid-column: span 1;
            }
        }

        &__img {
            width: 120px;
            height: 120px;
            padding: 0;
            margin-top: 0;
        }
    }
}

.c-financeCard {
    display: flex;
    height: 100%;
    margin-top: 40px;

    &__wrap {
        display: flex;
        align-items: stretch;
    }

    &__item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10px;
        padding: 40px;
        height: auto;
        background-color: #fff;
        border: 1px solid #DBDBDB;
        flex: 1 1 auto;

        &:first-child {
            border-right: none;
        }

        &+& {
            border-right: none;
        }

        &:last-child {
            border-right: 1px solid #DBDBDB;
        }
    }

    &__head {
        padding-bottom: 20px;
        border-bottom: 1px solid #CFC0FF;
    }

    &__title,
    &__discount {
        font-size: 24px;
    }

    &__discount {
        color: #FF8A3D;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: 100%;
    }

    &__detail {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__farther {
        font-size: 14px;
        color: #919191;
    }

    &__more {}

    @include medias.breakpoint-down("md") {
        margin-top: 160px;
    }

    @include medias.breakpoint-down("sm") {
        &__head {
            padding-bottom: 10px;
        }

        &__title,
        &__discount {
            font-size: 18px;
        }

        &__content {
            gap: 10px;
        }

        &__item {
            gap: 10px;
            padding: 30px;

            &.swiper-slide-active {
                background: #FFF;
                box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
                z-index: 5;
            }
        }
    }
}

.c-creditCard {
    display: flex;
    padding: 40px;
    background-color: #FFF;
    border: 1px solid #DBDBDB;

    &__img {
        display: block;
        padding: 30px 40px;
        width: 220px;
        height: 140px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 5px 5px 4px 0px rgba(255, 138, 61, 0.20);
        }

        &--t {
            img {
                box-shadow: 5px 5px 4px 0px rgba(125, 93, 255, 0.20);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__icon {
        display: inline-block;
        width: 24px;
        height: 24px;

        &--word {
            background-image: url(../../images/section/card/word.png);
        }

        &--gold {
            background-image: url(../../images/section/card/titanium.png);
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 500;
    }

    &__more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding-left: 27px;
    }

    @include medias.breakpoint-down("sm") {
        flex-direction: column;
        padding: 20px;

        &__img {
            width: 120px;
            height: 76px;
            padding: 16px 12px;

            img {
                border-radius: 4px;
            }
        }

        &__more {
            padding-left: 21px;
        }
    }
}

.c-processCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 240px;

    &__head {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__step {
        display: flex;
        padding: 4px 10px 6px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #9B7BFF;
        border: 1px solid #CFC0FF;
        border-radius: 20px;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        color: #9B7BFF;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
        height: 100%;
    }

    &__order {
        display: flex;
        align-items: center;
    }

    &__img {
        display: block;
        width: 200px;
        height: 400px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}