@use "../_mixins/medias"as medias;

@mixin nav {

    &__prev,
    &__next {
        position: absolute;
        box-sizing: border-box;
        display: inline-flex;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        margin-top: -70px;
        border: 1px solid #DBDBDB;
        background: #FFF;
        transition: background-color ease 0.3s;

        &.swiper-button-lock {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: #AD8F5E;

            mask: {
                position: center;
                size: contain;
                repeat: no-repeat;
            }

            transition: background-color ease 0.3s;
        }
    }

    &__prev {
        &.swiper-button-prev {
            left: 0;
        }

        &:after {
            mask-image: url(../images/icon/arrow-left.svg);
        }
    }

    &__next {
        &.swiper-button-next {
            right: 0;
        }

        &:after {
            mask-image: url(../images/icon/arrow-right.svg);
        }
    }

    &__pagination {
        position: static;
        display: inline-flex;
        width: 100% !important;
        justify-content: center;
        margin-top: 28px;

        &.swiper-pagination-horizontal {
            width: auto;
        }

        &.swiper-pagination-bullets {
            display: flex;
            gap: 8px;

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #FFF;
                opacity: 1;
                transition: 0.3s;
            }
        }
    }

    @media (hover: hover) {

        &__prev,
        &__next {
            &:hover {
                border: none;
                background: #AD8F5E;

                &::after {
                    background: #fff;
                }
            }
        }
    }

    @include medias.breakpoint-down("sm") {

        &__prev,
        &__next {
            width: 40px !important;
            height: 40px !important;
            flex: 0 0 40px !important;
        }
    }
}

.c-carousel {
    @include nav;

    $root: &;
    position: relative;
    margin-right: 0;
    margin-left: 0;

    &--savor {
        transition: 0.5s;
        touch-action: auto;

        @at-root & #{$root} {
            &__wrapper {
                height: 100%;
            }
        }
    }

    &--finance {
        margin-left: 20px;

        @at-root & #{$root} {
            &__slide {
                width: 300px;
                flex-shrink: 0;
            }
        }

        @include medias.breakpoint-down("md") {}

        @include medias.breakpoint-down("sm") {
            @at-root & #{$root} {
                &__slide {
                    width: 232px;
                    height: 388px;
                    flex-shrink: 0;
                }
            }
        }
    }

    &--process {
        @at-root & #{$root} {

            &__slide {
                position: relative;
                width: 320px;
                flex-shrink: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    margin: 0 40px;
                    background: #DBDBDB;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 24px;
                    width: 32px;
                    height: 32px;
                    padding: 4px 0;
                    background: url(../images/icon/next.svg) no-repeat center/contain, #fff;
                }

                &:first-of-type {
                    padding-left: 80px;
                }

                &:last-of-type {
                    width: 240px;
                    margin-right: 70px;

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }

    @include medias.breakpoint-down("sm") {
        &--process {
            @at-root & #{$root} {
                &__slide {
                    &:first-of-type {
                        padding-left: 70px;
                    }
                }
            }
        }
    }
}

.o-carouselNav {
    $root: &;

    @include nav;
    position: absolute;
    bottom: -104px;
    display: flex;
    width: 92px;
    height: 40px;
    z-index: 5;

    &__prev,
    &__next {
        position: absolute;
        top: 0px;
        width: 40px;
        height: 40px;
        flex: 0 0 auto;
        margin-top: 0;

        &::after {
            content: '';
            width: 32px;
            height: 32px;
        }
    }

    &--savor {
        top: 277px;
        right: -47px;
        transform: rotate(90deg);

        @at-root & #{$root} {
            &__next {
                right: 2px !important;
            }
        }
    }

    @include medias.breakpoint-down("md") {
        &--savor {
            display: none;
        }

        &--finance {}
    }

    @include medias.breakpoint-down("sm") {
        bottom: -466px;
        width: 100px;
        height: 40px;

        &__next {
            right: 10px !important;
        }
    }
}