@use "../_mixins/medias"as medias;

.o-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #AD8F5E;
    transition: .3s;

    mask: {
        repeat: no-repeat;
        position: center center;
        size: contain;
    }

    &--arrow {
        width: 20px;
        height: 20px;
        mask-image: url(../../images/icon/arrow.svg);
    }

    &--next {
        width: 32px;
        height: 32px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/next.svg);
    }

    &--nextSm {
        width: 24px;
        height: 24px;
        background-color: #FF8A3D;
        mask-image: url(../../images/icon/next.svg);
    }

    &--external {
        margin-bottom: 4px;
        width: 24px;
        height: 24px;
        mask-image: url(../../images/icon/external.svg);
    }

    &--friend {
        width: 14px;
        height: 168px;
        background-color: #dbdbdb;
        mask-image: url(../../images/icon/friend.svg);
    }

    &--new {
        width: 14px;
        height: 168px;
        background-color: #dbdbdb;
        mask-image: url(../../images/icon/new.svg);
    }

    &--add {
        width: 32px;
        height: 32px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/add.svg);
    }

    &--open {
        mask-image: url(../../images/icon/open.svg);
    }

    &--minus {
        mask-image: url(../../images/icon/minus.svg);
    }

    &--menu {
        background-color: #000;
        mask-image: url(../../images/icon/menu.svg);
    }

    &--close {
        background-color: #000;
        mask-image: url(../../images/icon/close.svg);
    }

    &--line {
        width: 28px;
        height: 11px;
        background-color: #AD8F5E;
        mask-image: url(../../images/icon/line.svg);
    }

    &--lineChange {
        width: 40px;
        height: 11px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/line.svg);
    }

    &--lineLg {
        width: 100px;
        height: 10px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/lineLg.svg);
    }

    &--lineRight {
        width: 28px;
        height: 11px;
        background-color: #AD8F5E;
        mask-image: url(../../images/icon/lineRight.svg);
    }

    @include medias.breakpoint-down("md") {
        &--lineChange {
            width: 20px;
            height: 11px;
            mask-image: url(../../images/icon/lineSm.svg);
        }
    }
}

.o-iconBox {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #AD8F5E;
    transition: 0.3s;

    &--wh {
        color: #FFF;
    }

    @media (hover: hover) {
        &:hover {
            color: #987A49;

            .o-iconBox__icon {
                .o-icon {
                    background-color: #987A49;
                }
            }
        }
    }
}

.c-popupIcon {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 24px;
    height: 24px;
    background-color: #FAF5EB;
    border-radius: 50%;
    cursor: pointer;
}