.o-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #AD8F5E;

    mask: {
        repeat: no-repeat;
        position: center center;
        size: contain;
    }

    &--arrow {
        width: 24px;
        height: 24px;
        mask-image: url(../../images/icon/arrow.svg);
    }

    &--external {
        width: 24px;
        height: 24px;
        mask-image: url(../../images/icon/external.svg);
    }

    &--limited {
        width: 14px;
        height: 168px;
        background-color: #dbdbdb;
        mask-image: url(../../images/icon/limited.svg);
    }

    &--offer {
        width: 14px;
        height: 168px;
        background-color: #dbdbdb;
        mask-image: url(../../images/icon/offer.svg);
    }

    &--add {
        width: 32px;
        height: 32px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/add.svg);
    }

    &--open {
        mask-image: url(../../images/icon/open.svg);
    }

    &--close {
        mask-image: url(../../images/icon/close.svg);
    }

    &--line {
        width: 50px;
        height: 11px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/line.svg);
    }

    &--lineLg {
        width: 120px;
        height: 8px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/lineLg.svg);
    }

    &--lineRight {
        width: 50px;
        height: 11px;
        background-color: #9B7BFF;
        mask-image: url(../../images/icon/lineRight.svg);
    }
}

.o-iconBox {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #AD8F5E;
}