.o-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    color: #AD8F5E;
    text-decoration: none;
    transition: .3s;

    &__icon {
        display: block;
        margin-top: 2px;
        width: 24px;
        height: 24px;
        flex: 0 0 auto;
        mask: url(../images/icon/arrow-right.svg) no-repeat center;
        background-color: #AD8F5E;
    }

    @media (hover: hover) {
        &:hover {
            color: #987A49;
        }
    }
}