@use "./_mixins/medias"as medias;

.c-list {
    $root: &;

    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        position: relative;
        padding-left: 24px;

        &::before {
            content: '';
            position: absolute;
            top: 13px;
            left: 11px;
            display: inline-block;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #000;
        }

        &--pl {
            &::before {
                background-color: #9B7BFF;
            }
        }

        &--og {
            &::before {
                background-color: #FF8A3D;
            }
        }
    }

    &--sm {
        gap: 4px;

        @at-root & #{$root} {
            &__item {
                position: relative;
                font-size: 16px;
                font-weight: 400;
                color: #000;
                padding-left: 24px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: 10px;
                    display: inline-block;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #9B7BFF;
                }

                &--og {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 12px;
                        left: 10px;
                        display: inline-block;
                        transform: translateY(-50%);
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #FF8A3D;
                    }
                }
            }
        }
    }

    &--decimal,
    &--alpha {
        margin: 0;
        gap: 0;
        padding-left: 20px;

        @at-root & #{$root} {
            &__item {
                list-style-type: decimal;
                padding-left: 0;

                &::before {
                    content: none;
                }
            }
        }
    }

    &--alpha {
        @at-root & #{$root} {
            &__item {
                list-style-type: lower-alpha;
            }
        }
    }
}

.c-infoList {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-left: 24px;
    list-style-type: decimal;
}