@use "../_mixins/medias"as medias;

.mfp-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: transparent !important;
    opacity: 1;
    transition: 0.3s;

    &::after {
        content: '';
        position: absolute;
        left: -1px;
        width: 103%;
        height: 103%;
        background: url(../../images/popup/bg.png) no-repeat center / cover;
        opacity: 0.95;
    }

    @include medias.breakpoint-down('sm') {
        &::after {
            background: url(../../images/popup/bgSm.png) no-repeat top left / 100% 110%;
        }

    }
}

.c-modal {
    $root: &;

    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: calc( 100vh - 110px );
    max-width: 854px;
    max-height: 550px;
    margin: auto;
    margin-top: 50px;
    padding: 40px 18.5px 40px 0;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    background: #fff;

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__title {
        padding-bottom: 16px;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid #C9C9C9;
    }

    &__content {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-right: 18.5px;
        width: 100%;
        max-height: 470px;
        overflow-y: auto;
    }

    &__close {
        &.mfp-close {
            top: -50px;
            right: -1px;
            width: 50px;
            height: 50px;
            border: none;
            background: url(../../images/popup/close.png) no-repeat center/contain;
            opacity: 1;
        }
    }

    @include medias.breakpoint-down("sm") {
        padding: 20px 15.5px 20px 0;
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;

        &__content {
            padding-right: 15.5px;
            max-height: 520px;
        }
    }
}

.c-event {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__item {
        display: flex;
        gap: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
    }

    &__title {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
    }

    &__icon {
        position: relative;
        top: 8px;
    }

    &__tag {
        display: flex;
        padding: 4px 10px 6px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.2;
        color: #9B7BFF;
        border-radius: 20px;
        border: 1px solid #CFC0FF;
        background: #FFF;
    }

    &__info {
        margin-top: 20px;
    }

    &__date {
        color: #919191;
    }

    &__notice {
        font-size: 14px;
        color: #919191;
    }
}

.c-infoData {
    $root: &;

    box-sizing: border-box;
    width: 100%;
    border: 1px solid #DBDBDB;

    &__item {
        display: flex;

        &+& {
            border-top: 1px solid #DBDBDB;
        }
    }

    &__title {
        width: calc(40% - 3px);
        padding: 16px 20px;
        background: #FAF5EB;
        border-right: 1px solid #DBDBDB;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 16px 20px;
        width: calc(60% + 3px);
        word-break: break-word;
        overflow-wrap: break-word;
    }

    &__notice {
        font-size: 14px;
        color: #919191;
    }

    @include medias.breakpoint-down("md") {
        &__item {
            &--col {
                flex-direction: column;

                @at-root & #{$root} {
                    &__title {
                        width: 100%;
                        border-right: none;
                        border-bottom: 1px solid #DBDBDB;
                    }

                    &__content {
                        width: 100%;
                    }
                }
            }
        }

        &__title {
            box-sizing: border-box;
            border-right: 1px solid #DBDBDB;
            border-bottom: none;
        }

        &__content {
            box-sizing: border-box;
        }
    }
}

.c-warn {
    $root: &;

    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 40px;
    margin-left: 50px;

    &__title {
        font-size: 14px;
        color: #919191;
    }

    &__list {
        margin: 0;
        padding-left: 21px;

        &--alpha {
            padding-left: 18px;

            @at-root & #{$root} {
                &__item {
                    list-style: lower-alpha;
                }
            }
        }
    }

    &__item {
        font-size: 14px;
        color: #919191;
    }

    @include medias.breakpoint-down("md") {
        margin-left: 30px;
    }
}