@use "./_mixins/medias"as medias;

.c-table {
    $root: &;

    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    table-layout: fixed;

    th,
    td {
        box-sizing: border-box;
        text-align: left;
        padding: 16px 16px;
        border: 1px solid #DBDBDB;
        vertical-align: top;
        text-align: center;
    }

    th {
        font-weight: normal;
    }

    thead {
        background-color: #FAF5EB;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }

    &--vertical {

        th {
            background-color: #FAF5EB;
            width: 33%;
            text-align: start;
        }

        td {
            text-align: start;
        }
    }

    &--break {
        th {
            padding: 16px 10px;
        }
    }

    @include medias.breakpoint-down("sm") {
        &--break {
            display: block;
            border-collapse: collapse;

            >thead {
                display: none;
            }

            >tbody {
                display: flex;
                flex-direction: column;

                >tr {
                    width: 100%;
                    border: 1px solid #DBDBDB;
                    border-bottom: none;

                    &:last-of-type {
                        border-bottom: 1px solid #DBDBDB;
                    }

                    >td {
                        display: flex;
                        width: 100%;
                        padding: 0;
                        border: none;
                    }

                    >td {
                        position: relative;
                        border-bottom: 1px solid #DBDBDB;

                        &::before {
                            content: attr(data-title);
                            box-sizing: border-box;
                            position: relative;
                            display: inline-flex;
                            width: 60%;
                            flex: 0 0 auto;
                            padding: 16px 16px;
                            background-color: #FAF5EB;
                            text-align: start;
                            border-right: 1px solid #DBDBDB;
                        }

                        &:last-of-type {
                            border-bottom: none;
                        }
                    }
                }
            }

            @at-root & #{$root} {
                &__content {
                    box-sizing: border-box;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 16px 16px;
                    flex: 1;
                    text-align: start;

                    span {
                        margin-top: 2px;
                    }
                }
            }
        }

        &--vertical {
            th {
                width: 60%;
                padding: 16px 10px;
            }
        }

        &--verticalSm {
            th {
                width: 40%;
                padding: 16px 10px;
            }
        }
    }
}