<!doctype html>
<html class="no-js" lang="zh-Hant-TW">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>

        <meta property="og:type" content="website">
        {% if headerType == "process" %}
            <meta property="og:title" content="中國信託 uniopen 聯名卡－點數累積兌換全攻略">
            <meta property="og:description" content="簡單5步驟完成會員連結及領券，消費回饋最高11%！">
            <meta property="og:url" content="https://mkt.ctbcbank.com/long/creditcard/N2025052600033_01/process.html">
        {% else %}
            <meta property="og:title" content="中國信託 uniopen 聯名卡">
            <meta property="og:description" content="消費回饋最高享11%！統一企業集團指定品牌天天享優惠，指定卡友日最優享買1送1。我的世界 由我OPEN。">
            <meta property="og:url" content="https://mkt.ctbcbank.com/long/creditcard/N2025052600033_01/index.html">
        {% endif %}
        <meta property="og:image" content="https://mkt.ctbcbank.com/long/creditcard/N2025052600033_01/index.html/content/images/og/og.png">

        <link rel="icon" href="{{ '/favicon.ico' | relativePath }}" sizes="any">
        <link rel="manifest" href="{{ '/site.json' | relativePath }}" crossorigin="use-credentials">
        <link rel="apple-touch-icon" href="{{ '/content/images/touch/icon-192x192.png' | relativePath }}">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">

        <!-- Page plugin css / Begin -->
        {% block plugins %}{% endblock %}
        <!-- Page plugin css / End -->

        <!-- Global third party css / Begin -->
        <link rel="stylesheet" href="{{ '/content/vendor/aos/aos.css' | relativePath }}">
        <link rel="stylesheet" href="{{ '/content/vendor/swiper/swiper-bundle.min.css' | relativePath }}">
        <link rel="stylesheet" href="{{ '/content/vendor/magnific-popup/magnific-popup.css' | relativePath }}">
        <!-- Global third party css / End -->

        <!-- Global css / Begin -->
        <link rel="stylesheet" href="{{ '/content/css/normalize.min.css' | relativePath }}">
        <link rel="stylesheet" href="{{ '/content/css/layout.min.css' | relativePath }}">
        <link rel="stylesheet" href="{{ '/content/css/main.min.css' | relativePath }}">
        <!-- Global css / End -->

        <!-- Page css / Begin -->
        {% block styles %}{% endblock %}
        <!-- Page css / End -->

        <!-- DY Scripts -->
        <link rel="preconnect" href="//cdn.dynamicyield.com">
        <link rel="preconnect" href="//st.dynamicyield.com">
        <link rel="preconnect" href="//rcom.dynamicyield.com">

        <script type="text/javascript">
            window.DY = window.DY || {};
            DY.recommendationContext = {
                type: "OTHER",
                data: []
            };
        </script>

        <script type="text/javascript" src="//cdn.dynamicyield.com/api/8792650/api_dynamic.js"></script>
        <script type="text/javascript" src="//cdn.dynamicyield.com/api/8792650/api_static.js"></script>

        <meta name="theme-color" content="#fafafa">
    </head>

    <body>
        <div class="l-loader" data-loading>
            <div class="c-loader"></div>
        </div>
        <div class="l-container">

            <header class="l-header">
                <div class="l-header__wrap">
                    <div class="l-header__logo">
                        <a href="https://www.ctbcbank.com" class="o-logo" target="_blank" rel="noreferrer noopener">
                            <img class="o-logo__img" src="{{ '/content/images/logo/ctbc.png' | relativePath }}" alt="中國信託">
                        </a>
                        <a href="https://www.uniopen.com" class="o-logo" target="_blank" rel="noreferrer noopener">
                            <img class="o-logo__img o-logo__img--uniopen" src="{{ '/content/images/logo/uniopen.svg' | relativePath }}" alt="uniopen信用卡">
                        </a>
                    </div>
                    {% if headerType == "process" %}
                        <a href="./index.html" class="l-header__back" rel="noreferrer noopener" data-link>回活動首頁</a>
                    {% else %}
                        <div class="l-header__menu">
                            <div class="c-menu">
                                <a href="#" class="c-menu__item" data-section="enjoy">享樂日常</a>
                                <a href="#" class="c-menu__item" data-section="savor">品味時光</a>
                                <a href="#" class="c-menu__item" data-section="finance">金融生活</a>
                                <a href="#" class="c-menu__item" data-section="discount">專屬禮遇</a>
                                <a href="#" class="c-menu__item" data-section="life">連結會員</a>
                                <a href="https://www.ctbcbank.com/twrbo/zh_tw/onlinecounter_index/cc_service/cc_service_card_index/cc_service_card_apply.html?Dsn=0&Card1[Crd]=C_uniopen&Card1[Fac]=&Card1[Brnd]=&Card1[Grnd]=&Card1[CrdF]=&Card1[Etic]=&Card1[Chnl]=61711&Emp=&Unit=61711&SPC=&Seed=&ck=1" class="c-menu__btn" target="_blank">立即申辦</a>
                                <div class="c-menu__share">
                                    <div class="c-share">
                                        <div class="c-share__title">分享到</div>
                                        <div class="c-share__content">
                                            <a href="https://social-plugins.line.me/lineit/share?url=https://mkt.ctbcbank.com/long/creditcard/N2025052600033_01/index.html" class="c-share__item" target="_blank" rel="noopener noreferrer" data-link>
                                                <div class="c-share__img">
                                                    <img src="./content/images/section/menu/line.svg" alt="Line">
                                                </div>
                                                <div class="c-share__name">LINE</div>
                                            </a>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://mkt.ctbcbank.com/long/creditcard/N2025052600033_01/index.html" class="c-share__item" target="_blank" rel="noopener noreferrer" data-link>
                                                <div class="c-share__img">
                                                    <img src="./content/images/section/menu/facebook.svg" alt="Facebook">
                                                </div>
                                                <div class="c-share__name">Facebook</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-header__hamburger">
                            <button class="o-hamburger"></button>
                        </div>
                    {% endif %}
                </div>
            </header>
            <main class="l-main">
                <div class="l-wrap">
                    {% block content %}{% endblock %}
                </div>
            </main>
            <footer class="l-footer {% if headerType == "process" %}l-footer--process{% endif %}">
                <a href="https://www.ctbcbank.com/twrbo/zh_tw/index/ctbc_aboutCTBC/ctbc_legal/ctbc_finances.html?targetTab=ctbc_finances_tab2" class="t-noUnderline" target="_blank" rel="noreferrer noopener">
                    <div class="l-footer__wrap">
                        <div class="l-footer__title">謹慎理財 信用至上</div>
                        <div class="l-footer__content">信用卡循環年利率：本行ARMs指數+加碼利率(5.97%~13.47%)；上限為15%，預借現金手續費為每筆預借金X3.5%+150元，循環利率基準日為104年9月1日，其他費用請上官網查詢</div>
                    </div>
                </a>
            </footer>
            <div class="l-floating">
                <div class="l-floating__content">
                    <div class="l-floating__item">
                        <a href="https://www.ctbcbank.com/twrbo/zh_tw/onlinecounter_index/cc_service/cc_service_card_index/cc_service_card_apply.html?Dsn=0&Card1[Crd]=C_uniopen&Card1[Fac]=&Card1[Brnd]=&Card1[Grnd]=&Card1[CrdF]=&Card1[Etic]=&Card1[Chnl]=61711&Emp=&Unit=61711&SPC=&Seed=&ck=1" target="_blank" class="l-floating__card">
                            <img src="./content/images/float/card.png" alt="">
                        </a>
                    </div>
                    <div class="l-floating__item">
                        <div class="l-floating__gotop">
                            <button type="button" class="o-gotop"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block popups %}{% endblock %}

        <!-- Global plugin js / Begin -->
        <!-- Global plugin js / End -->

        <!-- Global js / Begin -->
        <script src="{{ '/content/vendor/modernizr-3.11.7.min.js' | relativePath }}"></script>
        <script src="{{ '/content/vendor/jquery-3.7.1.min.js' | relativePath }}"></script>
        <script src="{{ '/content/vendor/aos/aos.js' | relativePath }}"></script>
        <script src="{{ '/content/vendor/swiper/swiper-bundle.min.js' | relativePath }}"></script>
        <script src="{{ '/content/vendor/lottie/lottie-5.12.2.min.js' | relativePath }}"></script>
        <script src="{{ '/content/vendor/magnific-popup/jquery.magnific-popup.min.js' | relativePath }}"></script>
        <script src="{{ '/content/js/plugins.min.js' | relativePath }}"></script>
        <script src="{{ '/content/js/main.min.js' | relativePath }}"></script>
        <!-- Global js / End -->

        <!-- Page js / Begin -->
        {% block scripts %}{% endblock %}
        <!-- Page js / End -->

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!-- <script> window.ga = function () { ga .q .push(arguments) }; ga.q = []; ga.l = + new Date; ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview') </script> <script src="https://www.google-analytics.com/analytics.js" async="async"></script> -->
    </body>

</html>