@use "./_mixins/medias"as medias;
@use "./_mixins/_wrapper"as wrapper;

html,
body {
   width: 100vw;
   height: 100%;
}

.l-container {
   min-height: 100%;
}

.l-loader {
   position: fixed;
   inset: 0;
   background: linear-gradient(180deg, #FFF 0%, #DCDCDC 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
}


.c-loader {
   position: absolute;
   width: 120px;
   height: 120px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   perspective: 60vh;

   &::before,
   &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
   }

   &::before {
      left: -13.33vh;
      background: linear-gradient(180deg, #FDB98D, #FF8A3D);
      transform: translateZ(0vh);
      z-index: 1;
      animation: rotation1 1.5s ease-out infinite;
   }

   &::after {
      right: -13.33vh;
      background: linear-gradient(180deg, #CFC0FF, #9B7BFF);
      transform: translateZ(0vh);
      z-index: 1;
      animation: rotation2 1.5s ease-out infinite;
   }

   @include medias.breakpoint-down("sm") {
      width: 80px;
      height: 80px;
   }
}

@keyframes rotation1 {
   25% {
      left: 0;
      transform: translateZ(-10vh);
   }

   50% {
      left: 13.33vh;
      transform: translateZ(0vh);
   }

   75% {
      left: 0;
      transform: translateZ(20vh);
      z-index: 2;
   }
}

@keyframes rotation2 {
   25% {
      right: 0;
      transform: translateZ(20vh);
      z-index: 2;
   }

   50% {
      right: 13.33vh;
      transform: translateZ(0vh);
   }

   75% {
      right: 0;
      transform: translateZ(-10vh);
   }
}

/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
   position: fixed;
   top: 0;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   width: 100%;
   height: 58px;
   background: #fff;
   border-bottom: 1px solid #DBDBDB;
   padding: 20px 0;
   z-index: 100;

   &__wrap {
      @include wrapper.wrapper();
      display: flex;
      justify-content: space-between;
   }

   &__logo {
      display: flex;
      align-items: center;
      gap: 40px;
   }

   &__menu {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   &__item {
      text-decoration: none;
   }

   &__back {
      color: #AD8F5E;
      text-align: center;
      text-decoration: none;
      padding: 4px 10px;
      border: 1px solid #AD8F5E;
   }

   &__hamburger {
      display: none;
   }

   &.is-menuOpen {
      z-index: 120;
   }

   @include medias.breakpoint-down("md") {
      &__logo {
         gap: 28px;
      }

      &__hamburger {
         display: flex;
      }
   }

   @include medias.breakpoint-down("sm") {
      &__wrap {
         padding: 16px;
      }
   }
}

.o-logo {
   position: relative;

   &+& {
      &::before {
         content: '';
         position: absolute;
         left: -20px;
         top: 50%;
         transform: translateY(-50%);
         width: 1px;
         height: 20px;
         background-color: #000;
      }
   }

   &__img {
      width: 110px;
      height: 30px;
      flex: 0 0 auto;
      object-fit: cover;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &--uniopen {
         width: 137px;
         height: 24px;
         flex: 0 0 auto;
      }
   }

   @include medias.breakpoint-down("sm") {
      &+& {
         &::before {
            content: '';
            position: absolute;
            left: -14px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 20px;
            background-color: #000;
         }
      }

      &__img {
         width: 80px;
         height: 22px;

         &--uniopen {
            width: 104px;
            height: 18px;
         }
      }
   }
}

.c-menu {
   display: flex;
   align-items: center;
   gap: 20px;

   &__item {
      position: relative;
      text-decoration: none;
   }

   &__share {
      display: none;
      width: 100%;
      margin-top: 60px;
   }

   @include medias.breakpoint-down("md") {
      position: fixed;
      box-sizing: border-box;
      top: 58px;
      right: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      width: 100%;
      height: 100vh;
      background: url(../images/section/menu/bg.jpg) no-repeat bottom/cover;
      transition: 0.3s;

      &__item {
         font-size: 20px;

         &+& {
            &::before {
               content: none;
            }
         }
      }

      &__share {
         display: block;
      }

      &.is-active {
         right: 0;
      }
   }

   @media (hover: hover) {
      &__item {
         &:hover {
            color: #987A49;
            transition: 0.3s;
         }
      }
   }
}

.c-share {
   width: 100%;

   @include medias.breakpoint-down("md") {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__title {
         position: relative;
         font-size: 18px;
         text-align: center;
         width: 100%;

         &::before,
         &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: calc(50% - 36px);
            height: 1px;
            background: #CFC0FF;
         }

         &::after {
            right: 0;
         }
      }

      &__content {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         gap: 40px;
      }

      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 10px;
         text-decoration: none;
      }

      &__img {
         display: block;
         width: 48px;
         height: 48px;
         flex: 0 0 auto;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      &__name {
         font-size: 14px;
         color: #919191;
      }
   }
}

.o-hamburger {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   transition: 0.3s;

   &::before,
   &::after {
      content: "";
      width: 35px;
      height: 1px;
      border-radius: 100px;
      background: #000;
      transition: 0.3s;
   }

   &.is-active {
      &::before {
         transform: translateY(3px) rotateZ(15deg);
      }

      &::after {
         transform: translateY(-3px) rotateZ(-15deg);
      }
   }

   @media (hover: hover) {
      &:hover {
         transform: scaleY(-1);
      }
   }
}

/* ==========================================================================
   Main
   ========================================================================== */

.l-main {
   flex: 1 1 auto;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.l-footer {
   width: 100%;
   background: #75654B;

   &__wrap {
      @include wrapper.wrapper();
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 0;
      color: #fff;
   }

   &__title {
      font-size: 32px;
      font-weight: bold;
      flex: 0 0 auto;
      border: 1px solid #fff;
      padding: 8px 20px;
   }

   &__content {
      font-size: 14px;
   }

   @include medias.breakpoint-down("md") {

      &__wrap {
         flex-direction: column;
         align-items: flex-start;
         gap: 20px;
      }
   }

   @include medias.breakpoint-down("sm") {

      &__title {
         font-size: 24px;
      }

      &__wrap {
         flex-direction: column;
         align-items: center;
         gap: 10px;
         padding-top: 16px;
         padding-bottom: 16px;
      }
   }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

// @media only screen and (min-width: 480px) {}
// @media only screen and (min-width: 768px) {}
// @media only screen and (min-width: 1140px) {}
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {}