@use "./_mixins/medias"as medias;
@use "./_mixins/_wrapper"as wrapper;

body {
   overflow-x: hidden;

   &.is-popupOpen {
      width: 100%;
      height: 100vh;
      overflow: hidden;
   }
}

.l-container {
   min-height: 100%;
}

.l-loader {
   position: fixed;
   inset: 0;
   background: linear-gradient(180deg, #FFF 0%, #DCDCDC 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
}


.c-loader {
   position: absolute;
   width: 120px;
   height: 120px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   perspective: 60vh;

   &::before,
   &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
   }

   &::before {
      left: -13.33vh;
      background: linear-gradient(180deg, #FDB98D, #FF8A3D);
      transform: translateZ(0vh);
      z-index: 1;
      animation: rotation1 1.5s ease-out infinite;
   }

   &::after {
      right: -13.33vh;
      background: linear-gradient(180deg, #CFC0FF, #9B7BFF);
      transform: translateZ(0vh);
      z-index: 1;
      animation: rotation2 1.5s ease-out infinite;
   }

   @include medias.breakpoint-down("sm") {
      width: 80px;
      height: 80px;
   }
}

@keyframes rotation1 {
   25% {
      left: 0;
      transform: translateZ(-10vh);
   }

   50% {
      left: 13.33vh;
      transform: translateZ(0vh);
   }

   75% {
      left: 0;
      transform: translateZ(20vh);
      z-index: 2;
   }
}

@keyframes rotation2 {
   25% {
      right: 0;
      transform: translateZ(20vh);
      z-index: 2;
   }

   50% {
      right: 13.33vh;
      transform: translateZ(0vh);
   }

   75% {
      right: 0;
      transform: translateZ(-10vh);
   }
}

/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
   position: fixed;
   top: 0;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   width: 100%;
   background: #fff;
   border-bottom: 1px solid #DBDBDB;
   z-index: 100;

   &__wrap {
      @include wrapper.wrapper();
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
   }

   &__logo {
      display: flex;
      align-items: center;
      gap: 48px;
   }

   &__menu {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   &__item {
      text-decoration: none;
   }

   &__back {
      color: #AD8F5E;
      text-align: center;
      text-decoration: none;
      padding: 4px 10px;
      border: 1px solid #AD8F5E;
      transition: .3s;
   }

   &__hamburger {
      display: none;
   }

   &.is-menuOpen {
      z-index: 120;
   }

   @media (hover: hover) {
      &__btn {
         &:hover {
            color: #987A49;
            border: 1px solid #987A49;
         }
      }
   }

   @include medias.breakpoint-down("md") {
      &__wrap {
         padding: 16px;
      }

      &__logo {
         align-items: flex-end;
         gap: 40px;
      }

      &__hamburger {
         display: flex;
      }
   }
}

.o-logo {
   position: relative;

   &+& {
      &::before {
         content: '';
         position: absolute;
         left: -24px;
         top: 50%;
         transform: translateY(-50%);
         width: 1px;
         height: 32px;
         background-color: #000;
      }
   }

   &__img {
      width: 130px;
      height: 37px;
      flex: 0 0 auto;
      object-fit: contain;

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }

      &--uniopen {
         width: 103px;
         height: 48px;
         flex: 0 0 auto;
      }
   }

   @include medias.breakpoint-down("md") {
      &+& {
         &::before {
            content: '';
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 28px;
            background-color: #000;
         }
      }

      &__img {
         width: 90px;
         height: 25px;

         &--uniopen {
            width: 73px;
            height: 34px;
         }
      }
   }
}

.c-menu {
   display: flex;
   align-items: center;
   gap: 20px;

   &__item {
      position: relative;
      text-decoration: none;
   }

   &__btn {
      display: flex;
      padding: 4px 10px;
      justify-content: center;
      align-items: center;
      border: 1px solid #AD8F5E;
      color: #AD8F5E;
      text-decoration: none;
   }

   &__share {
      display: none;
      width: 100%;
      margin-top: 60px;
   }

   @include medias.breakpoint-down("md") {
      position: fixed;
      box-sizing: border-box;
      inset: 58px 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      width: 100%;
      height: calc(100% - 58px);
      background: url(../images/section/menu/bg.jpg) no-repeat bottom/cover;
      clip-path: circle(0% at 100% 0%);
      transition: clip-path .4s linear;

      &__item {
         font-size: 20px;

         &+& {
            &::before {
               content: none;
            }
         }
      }

      &__btn {
         font-size: 20px;
         transition: .3s;
      }

      &__share {
         display: block;
      }

      &.is-active {
         clip-path: circle(150% at 0% 100%);
         transition: clip-path .3s linear;
      }
   }

   @media (hover: hover) {
      &__item {
         &:hover {
            color: #987A49;
            transition: 0.3s;
         }
      }

      &__btn {
         &:hover {
            color: #987A49;
            border: 1px solid #987A49;
         }
      }
   }
}

.c-share {
   width: 100%;

   @include medias.breakpoint-down("md") {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__title {
         position: relative;
         font-size: 18px;
         text-align: center;
         width: 100%;

         &::before,
         &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: calc(50% - 36px);
            height: 1px;
            background: #CFC0FF;
         }

         &::after {
            right: 0;
         }
      }

      &__content {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         gap: 40px;
      }

      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 10px;
         text-decoration: none;
      }

      &__img {
         display: block;
         width: 48px;
         height: 48px;
         flex: 0 0 auto;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      &__name {
         font-size: 14px;
         color: #919191;
      }
   }
}

.o-hamburger {
   display: block;
   width: 24px;
   height: 24px;
   mask-image: url(../../images/icon/menu.svg);
   background-color: #000;

   mask: {
      repeat: no-repeat;
      position: center center;
      size: contain;
   }

   &.is-active {
      mask-image: url(../../images/icon/close.svg);
   }
}

/* ==========================================================================
   Main
   ========================================================================== */

.l-main {
   flex: 1 1 auto;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.l-footer {
   width: 100%;
   background: #75654B;

   &__wrap {
      @include wrapper.wrapper();
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 0;
      color: #fff;
   }

   &__title {
      font-size: 24px;
      font-weight: bold;
      flex: 0 0 auto;
      border: 1px solid #fff;
      padding: 8px 20px;
   }

   &__content {
      font-size: 14px;
   }

   &--process {
      &::before {
         content: '';
         display: block;
         width: 100%;
         height: 20px;
         background: var(--Linear, linear-gradient(90deg, #BB975D 0.03%, #E3CFAD 99.97%));
      }
   }

   @include medias.breakpoint-down("md") {

      &__wrap {
         flex-direction: column;
         align-items: flex-start;
         gap: 20px;
      }
   }

   @include medias.breakpoint-down("sm") {

      &__title {
         font-size: 24px;
      }

      &__wrap {
         flex-direction: column;
         align-items: center;
         gap: 10px;
         padding-top: 16px;
         padding-bottom: 16px;
      }
   }
}

.l-floating {
   position: relative;

   &__gotop {
      position: fixed;
      right: 30px;
      bottom: 30px;
      width: 50px;
      height: 50px;
      z-index: 100;
   }

   @include medias.breakpoint-down("sm") {
      &__gotop {
         right: 20px;
         bottom: 20px;
         width: 40px;
         height: 40px;
      }
   }
}

.o-gotop {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
   padding: 0;
   border: 0;
   background: url(../images/float/goTop.svg) no-repeat center center / contain;
   cursor: pointer;
   opacity: 0;
   visibility: hidden;
   transition: .3s;

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #FFF2D7c7;
      transition: .3s ease;
      opacity: 0;
   }

   &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #FFF;
      z-index: -1;
   }

   &.is-show {
      visibility: visible;
      opacity: 1;
   }

   @media (hover: hover) {
      &:hover {
         &::before {
            opacity: 1;
         }
      }
   }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

// @media only screen and (min-width: 480px) {}
// @media only screen and (min-width: 768px) {}
// @media only screen and (min-width: 1140px) {}
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {}