@mixin triangle-up($width, $height, $color) {
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $height solid $color;
    border-top: none;
}

@mixin triangle-down($width, $height, $color) {
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $height solid $color;
    border-bottom: none;
}

@mixin triangle-left($width, $height, $color) {
    width: 0;
    height: 0;
    border-top: $height solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
    border-left: none;
}

@mixin triangle-right($width, $height, $color) {
    width: 0;
    height: 0;
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;
    border-left: $width solid $color;
    border-right: none;
}
