@use "./medias" as medias;

@mixin wrapper() {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @include medias.breakpoint-down("md") {
        padding-left: 20px;
        padding-right: 20px;
    }
}
