{% extends './_layouts/_layout.tmpl' %}

{% block content %}
    <div class="aaa">dsada 21</div>
{% endblock %}

{% block scripts %}
    <script>
        $('.aaa').click(function () {
            console.log('123456789')
        })
    </script>
{% endblock %}