{% extends './_layouts/_layout.tmpl' %}

{% block content %}
    <div class="l-block">
        <section id="kv" class="l-block__item l-block__item--kv">
            <div class="l-block__content">
                <div class="c-kv">
                    <div class="c-kv__content">
                        <div class="c-kv__item">
                            <div class="c-kv__introduce">
                                <div class="c-kv__title">中國信託 uniopen 聯名卡</div>
                                <div class="c-kv__slogan">我的世界 從此OPEN</div>
                                <div class="c-kv__subSlogan">消費無界限 天天享優惠</div>
                            </div>
                            <div class="c-kv__action">
                                <a class="o-btn o-btn--lg" href="#" rel="noreferrer noopener" target="_blank">立即申辦</a>
                            </div>
                            <div class="c-kv__action--mb">
                                <a class="o-btn" href="#" rel="noreferrer noopener" target="_blank">立即申辦</a>
                            </div>
                        </div>
                        <div class="c-kv__item c-kv__item--card">
                            <div class="o-card">
                                <div class="o-card__img">
                                    <img src="./content/images/section/kv/word.png" alt="世界卡">
                                </div>
                                <div class="o-card__name">
                                    <span>世界卡</span>
                                    <i class="o-icon o-icon--lineLg"></i>
                                </div>
                            </div>
                            <div class="o-card">
                                <div class="o-card__img">
                                    <img src="./content/images/section/kv/gold.png" alt="鈦金卡">
                                </div>
                                <div class="o-card__name">
                                    <span>鈦金卡</span>
                                    <i class="o-icon o-icon--lineLg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-kv__scroll">Scroll</div>
                </div>
            </div>
        </section>
        <section id="video" class="l-block__item l-block__item--video">
            <div class="l-block__content">
                <div class="c-video">
                    <div class="c-video__title">
                        <div class="c-title">
                            <div class="c-title__head">
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--line"></div>
                                </div>
                                <div class="c-title__text">uniopen聯名卡全新上市</div>
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--lineRight"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-video__content">
                        <div class="c-video__img">
                            <img src="./content/images/section/video/video.png" alt="宣傳影片">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="discount" class="l-block__item l-block__item--discount">
            <div class="l-block__content">
                <div class="c-discount">
                    <div class="c-discount__title">
                        <div class="c-title">
                            <div class="c-title__head">
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--line"></div>
                                </div>
                                <div class="c-title__text">開啟你的專屬禮遇</div>
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--lineRight"></div>
                                </div>
                            </div>
                            <div class="c-title__date">2025/7/11~2025/9/30</div>
                            <div class="c-title__discount">首刷滿額最高送 711 OPEN POINT</div>
                        </div>
                    </div>
                    <div class="c-discount__content">
                        <div class="c-discountCard">
                            <div class="c-discountCard__head">
                                <span>新戶禮</span>
                                <i class="o-icon o-icon--lineLg"></i>
                            </div>
                            <div class="c-discountCard__content">
                                <div class="c-discountCard__title">最高回饋</div>
                                <div class="c-discountCard__total">
                                    <span class="t2 t-og">711</span>
                                    <span>點 OPEN POINT</span>
                                </div>
                            </div>
                            <div class="c-discountCard__task">核卡成功500點 + 完成任務211點</div>
                            <div class="c-discountCard__new">NEW CUSTOMER</div>
                        </div>
                    </div>
                    <div class="c-discount__more">
                        <a href="#" class="o-iconBox">
                            <div class="o-iconBox__text">活動詳情</div>
                            <div class="o-iconBox__icon">
                                <i class="o-icon o-icon--arrow"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="extravagant" class="l-block__item l-block__item--extravagant">
            <div class="l-block__content">
                <div class="c-extravagant">
                    <div class="c-extravagant__wrap">
                        <div class="c-extravagant__content">
                            <div class="c-extravagant__title">
                                <div class="c-title u-flex-tal t-wh">
                                    <div class="c-title__head">
                                        <div class="c-title__icon c-title__icon--left">
                                            <div class="o-icon o-icon--line"></div>
                                        </div>
                                        <div class="c-title__text">開啟你的輕奢體驗</div>
                                    </div>
                                    <div class="c-title__date t-wh">2025/7/11~2025/9/30</div>
                                    <div class="c-title__discount">完成指定任務最高送OPENPOINT 11%</div>
                                </div>
                            </div>
                            <div class="c-extravagant__tab">
                                <div class="c-extravagant__item is-active" data-tab="dom">國內消費回饋</div>
                                <div class="c-extravagant__item" data-tab="intl">國外消費回饋</div>
                            </div>
                            <div class="c-extravagant__panel" data-panel="dom">
                                <div class="c-extravagantCard">
                                    <div class="c-extravagantCard__item c-extravagantCard__item--lg">
                                        <div class="c-extravagantCard__title">uniopen優惠商店消費</div>
                                        <div class="c-extravagantCard__feedback">
                                            <span>最高回饋</span>
                                            <span class="c-extravagantCard__num">7</span>
                                            <span class="t-og">%</span>
                                        </div>
                                        <div class="c-extravagantCard__more">筆筆消費3% + 完成任務最高4%</div>
                                    </div>
                                    <div class="c-extravagantCard__add">
                                        <i class="o-icon o-icon--add"></i>
                                    </div>
                                    <div class="c-extravagantCard__item">
                                        <div class="c-extravagantCard__title">完成指定任務</div>
                                        <div class="c-extravagantCard__feedback">
                                            <span>最高加碼</span>
                                            <span class="c-extravagantCard__num">4</span>
                                            <span class="t-og">%</span>
                                        </div>
                                    </div>
                                    <div class="c-extravagantCard__high">
                                        <div class="c-extravagantCard__title t-wh">最高回饋</div>
                                        <div class="c-extravagantCard__feedback">
                                            <span class="c-extravagantCard__num t-wh">11</span>
                                            <span class="t-wh">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-extravagant__panel u-hidden" data-panel="intl"></div>
                            <div class="c-extravagant__more">
                                <a href="#" class="o-iconBox">
                                    <div class="o-iconBox__text t-wh">活動詳情</div>
                                    <div class="o-iconBox__icon">
                                        <i class="o-icon o-icon--arrow t-bg-wh"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="c-extravagant__img">
                        <img src="./content/images/section/extravagant/takeCard.jpg" alt="開啟你的輕奢體驗">
                    </div>
                </div>
            </div>
        </section>
        <section id="enjoy" class="l-block__item l-block__item--enjoy">
            <div class="l-block__content">
                <div class="c-enjoy">
                    <div class="c-enjoy__title">
                        <div class="c-title">
                            <div class="c-title__head">
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--line"></div>
                                </div>
                                <div class="c-title__text">開啟你的享樂日常</div>
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--lineRight"></div>
                                </div>
                            </div>
                            <div class="c-title__date">2025/7/11~2025/12/31</div>
                            <div class="c-title__discount">消費回饋OPENPOINT無上限</div>
                        </div>
                    </div>
                    <div class="c-enjoy__content">
                        <div class="c-enjoy__card">
                            <div class="c-enjoyCard">
                                <div class="c-enjoyCard__item">
                                    <div class="c-enjoyCard__title">
                                        <span>國內</span>
                                        <span>一般消費</span>
                                    </div>
                                    <div class="c-enjoy__discount">
                                        <span class="t6">最高</span>
                                        <span class="c-enjoyCard__num">1</span>
                                        <span class="t-og">%</span>
                                    </div>
                                </div>
                                <div class="c-enjoyCard__item">
                                    <div class="c-enjoyCard__title">
                                        <span>國外非實體</span>
                                        <span>商店消費</span>
                                    </div>
                                    <div class="c-enjoy__discount">
                                        <span class="t6">最高</span>
                                        <span class="c-enjoyCard__num">2</span>
                                        <span class="t-og">%</span>
                                    </div>
                                </div>
                                <div class="c-enjoyCard__item">
                                    <div class="c-enjoyCard__title">
                                        <span>國外實體</span>
                                        <span>商店消費</span>
                                    </div>
                                    <div class="c-enjoy__discount">
                                        <span class="t6">最高</span>
                                        <span class="c-enjoyCard__num">3</span>
                                        <span class="t-og">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-enjoy__bg"></div>
                    </div>
                    <div class="c-enjoy__more">
                        <a href="#" class="o-iconBox">
                            <div class="o-iconBox__text">活動詳情</div>
                            <div class="o-iconBox__icon">
                                <i class="o-icon o-icon--arrow"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="savor" class="l-block__item l-block__item--savor">
            <div class="l-block__content">
                <div class="c-savor">
                    <div class="c-savor__title">
                        <div class="c-title">
                            <div class="c-title__head">
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--line"></div>
                                </div>
                                <div class="c-title__text">開啟你的品味時光</div>
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--lineRight"></div>
                                </div>
                            </div>
                            <div class="c-title__discount">20大品牌獨享優惠</div>
                        </div>
                    </div>
                    <div class="c-savor__content"></div>
                </div>
            </div>
        </section>
        <section id="life" class="l-block__item l-block__item--life">
            <div class="l-block__content">
                <div class="c-life">
                    <div class="c-life__content">
                        <div class="c-life__introduce">
                            <div class="c-life__head">
                                <div class="c-life__title">
                                    <div class="c-title u-flex-tal">
                                        <div class="c-title__head">
                                            <div class="c-title__icon c-title__icon--left">
                                                <div class="o-icon o-icon--line"></div>
                                            </div>
                                            <div class="c-title__text">開啟你的<br>OPENPOINT生活圈</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-life__discount">
                                    <span>統一集團旗下品牌購物消費折抵</span>
                                    <span>統一超商折抵水費、電費</span>
                                </div>
                            </div>
                            <div class="c-life__action">
                                <a class="o-btn" href="#" rel="noreferrer noopener" target="_blank">立即申辦</a>
                            </div>
                        </div>
                        <div class="c-life__img">
                            <img src="./content/images/section/life/life.jpg" alt="life">
                        </div>
                    </div>
                    <div class="c-life__more"></div>
                </div>
            </div>
        </section>
        <section id="finance" class="l-block__item l-block__item--finance">
            <div class="l-block__content u-flex-tal">
                <div class="c-finance">
                    <div class="c-finance__head">
                        <div class="c-finance__title">
                            <div class="c-title u-flex-tal t-wh">
                                <div class="c-title__head">
                                    <div class="c-title__icon c-title__icon--left">
                                        <div class="o-icon o-icon--line"></div>
                                    </div>
                                    <div class="c-title__text">開啟你的金融生活</div>
                                </div>
                                <div class="c-title__discount">卡友專屬投資理財優惠</div>
                            </div>
                        </div>
                    </div>
                    <div class="c-finance__content">
                        <!-- [data-swiper]：輪播呼叫套件識別用，必需要唯一值不可重複，請參考頁面下方 javascript 邏輯。 -->
                        <div class="c-financeCard c-carousel c-carousel--finance swiper" data-swiper="finance">
                            <div class="c-financeCard__wrap c-carousel__wrapper swiper-wrapper">
                                <div class="c-financeCard__item c-carousel__slide swiper-slide">
                                    <div class="c-financeCard__head">
                                        <div class="c-financeCard__title">跨轉與外幣提/存款</div>
                                        <div class="c-financeCard__discount">免手續費</div>
                                    </div>
                                    <div class="c-financeCard__content">持有本行有效存款帳戶成功申辦uniopen聯名卡、完成三項任務</div>
                                    <div class="c-financeCard__more">
                                        <a href="#" class="o-iconBox">
                                            <div class="o-iconBox__text">活動詳情</div>
                                            <div class="o-iconBox__icon">
                                                <i class="o-icon o-icon--external"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="c-financeCard__item c-carousel__slide swiper-slide">
                                    <div class="c-financeCard__head">
                                        <div class="c-financeCard__title">跨轉與外幣提/存款</div>
                                        <div class="c-financeCard__discount">免手續費</div>
                                    </div>
                                    <div class="c-financeCard__content">持有本行有效存款帳戶成功申辦uniopen聯名卡、完成三項任務</div>
                                    <div class="c-financeCard__more">
                                        <a href="#" class="o-iconBox">
                                            <div class="o-iconBox__text">活動詳情</div>
                                            <div class="o-iconBox__icon">
                                                <i class="o-icon o-icon--external"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="c-financeCard__item c-carousel__slide swiper-slide">
                                    <div class="c-financeCard__head">
                                        <div class="c-financeCard__title">跨轉與外幣提/存款</div>
                                        <div class="c-financeCard__discount">免手續費</div>
                                    </div>
                                    <div class="c-financeCard__content">持有本行有效存款帳戶成功申辦uniopen聯名卡、完成三項任務</div>
                                    <div class="c-financeCard__more">
                                        <a href="#" class="o-iconBox">
                                            <div class="o-iconBox__text">活動詳情</div>
                                            <div class="o-iconBox__icon">
                                                <i class="o-icon o-icon--external"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="c-financeCard__item c-carousel__slide swiper-slide">
                                    <div class="c-financeCard__head">
                                        <div class="c-financeCard__title">跨轉與外幣提/存款</div>
                                        <div class="c-financeCard__discount">免手續費</div>
                                    </div>
                                    <div class="c-financeCard__content">持有本行有效存款帳戶成功申辦uniopen聯名卡、完成三項任務</div>
                                    <div class="c-financeCard__more">
                                        <a href="#" class="o-iconBox">
                                            <div class="o-iconBox__text">活動詳情</div>
                                            <div class="o-iconBox__icon">
                                                <i class="o-icon o-icon--external"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="c-financeCard__item c-carousel__slide swiper-slide">
                                    <div class="c-financeCard__head">
                                        <div class="c-financeCard__title">跨轉與外幣提/存款</div>
                                        <div class="c-financeCard__discount">免手續費</div>
                                    </div>
                                    <div class="c-financeCard__content">持有本行有效存款帳戶成功申辦uniopen聯名卡、完成三項任務</div>
                                    <div class="c-financeCard__more">
                                        <a href="#" class="o-iconBox">
                                            <div class="o-iconBox__text">活動詳情</div>
                                            <div class="o-iconBox__icon">
                                                <i class="o-icon o-icon--external"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="o-carouselNav">
                            <!-- [data-swiper-prev]：輪播套件上一筆功能用，必需設定與輪播元件一致且不可重複，請參考頁面下方 javascript 邏輯。 -->
                            <div class="o-carouselNav__prev swiper-button-prev" data-swiper-prev="finance"></div>
                            <!-- [data-swiper-next]：輪播套件下一筆功能用，必需設定與輪播元件一致且不可重複，請參考頁面下方 javascript 邏輯。 -->
                            <div class="o-carouselNav__next swiper-button-next" data-swiper-next="finance"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="card" class="l-block__item l-block__item--card">
            <div class="l-block__content">
                <div class="c-card">
                    <div class="c-card__title">
                        <div class="c-title">
                            <div class="c-title__head">
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--line"></div>
                                </div>
                                <div class="c-title__text">懂生活的你 立即擁有</div>
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--lineRight"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-card__content">
                        <div class="c-creditCard">
                            <div class="c-creditCard__img">
                                <img src="./content/images/section/card/wordCard.jpg" alt="世界卡">
                            </div>
                            <div class="c-creditCard__content">
                                <div class="c-creditCard__title">
                                    <i class="c-creditCard__icon"></i>
                                    <div class="c-creditCard__text">世界卡</div>
                                </div>
                                <div class="c-creditCard__list"></div>
                                <div class="c-creditCard__more">
                                    <a href="#" class="o-iconBox">
                                        <div class="o-iconBox__text">了解更多</div>
                                        <div class="o-iconBox__icon">
                                            <i class="o-icon o-icon--arrow"></i>
                                        </div>
                                    </a>
                                    <a class="o-btn o-btn--lg" href="#" rel="noreferrer noopener" target="_blank">立即申辦</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="notice" class="l-block__item l-block__item--notice">
            <div class="l-block__content">
                <div class="c-notice">
                    <div class="c-notice__wrap">
                        <div class="c-notice__head" data-toggle="notice">
                            <div class="c-notice__title">共同注意事項</div>
                            <div class="c-notice__icon">
                                <i class="o-icon o-icon--open"></i>
                            </div>
                        </div>
                        <div class="c-notice__content" data-toggle-panel="notice">
                            <div class="c-notice__inner">111</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block popups %}
    {%- include './_partials/_popups.part' -%}
{% endblock %}

{% block scripts %}
    <script>
        // 錨點控制
        $('[data-section]').on('click', function (e) {
            e.preventDefault();

            var targetId = $(this).attr('data-section');
            var $target = $('#' + targetId);

            if ($target.length) {
                var headerHeight = 58;
                var offset = $target
                    .offset()
                    .top - headerHeight;

                if (offset < 0) 
                    offset = 0;
                
                $('html, body').animate({
                    scrollTop: offset
                }, 500);
            }
        });

        // tab切換
        $('.c-extravagant__item').on('click', function () {
            var tab = $(this).data('tab');
            var $targetPanel = $('[data-panel="' + tab + '"]');

            $('.c-extravagant__item').removeClass('is-active');
            $(this).addClass('is-active');

            $('[data-panel]').addClass('u-hidden');
            $targetPanel.removeClass('u-hidden');
        });

        // swiper 金融生活
        const $financeSwiper = $('[data-swiper="finance"]');
        const totalSlides = $financeSwiper
            .find('.swiper-slide')
            .length;
        const isSmallScreen = window.innerWidth < 1200;
        const showNavigation = isSmallScreen || totalSlides > 3;

        if (!showNavigation) {
            $('[data-swiper-prev="finance"], [data-swiper-next="finance"]').hide();
        } else {
            $('[data-swiper-prev="finance"], [data-swiper-next="finance"]').show();
        }

        const financeSettings = $.extend(true, {}, carouselSettings, {
            freeMode: true,
            loop: true,
            slidesPerView: "auto",
            autoplay: true,
            speed: 300,
            navigation: showNavigation
                ? {
                    prevEl: '[data-swiper-prev="finance"]',
                    nextEl: '[data-swiper-next="finance"]'
                }
                : {}
        });

        new Swiper('[data-swiper="finance"]', financeSettings);

        // 注意事項展開收合
        $('[data-toggle]').on('click', function (e) {
            e.preventDefault();
            const key = $(this).attr('data-toggle');

            $(this)
                .find('.o-icon')
                .toggleClass('o-icon--open')
                .toggleClass('o-icon--close');

            $(`[data-toggle-panel="${key}"]`).toggleClass('is-active');
        });
    </script>
{% endblock %}