{% extends './_layouts/_layout.tmpl' %}

{% set headerType = "process" %}

{% block content %}
    <div class="l-block">
        <div class="l-block__item l-block__item--process">
            <div class="l-block__content">
                <div class="c-process">
                    <div class="c-process__title" data-aos="zoom-in-up">
                        <div class="c-title">
                            <div class="c-title__head">
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--line"></div>
                                </div>
                                <div class="c-title__text">連結&nbsp;<span class="t-pop">uniopen</span>&nbsp;會員流程</div>
                                <div class="c-title__icon c-title__icon--right">
                                    <div class="o-icon o-icon--lineRight"></div>
                                </div>
                            </div>
                            <div class="c-title__discount c-title__discount--process"><span class="t-nowrap">請依照以下流程完成&nbsp;</span><span class="t-pop t-lh13 t-nowrap">uniopen</span><span class="t-nowrap">&nbsp;會員連結方能獲得OPENPOINT回饋</span><br><span class="t-nowrap">若您未註冊，請於收到實體卡後至</span><a href="#" class="o-link t-nowrap"> 中國信託網路銀行 </a><span class="t-nowrap">完成註冊</span></div>
                        </div>
                    </div>
                    <!-- [data-swiper]：輪播呼叫套件識別用，必需要唯一值不可重複，請參考頁面下方 javascript 邏輯。 -->
                    <div class="c-process__wrap">
                        <div class="c-process__content">
                            <!-- [data-swiper]：輪播呼叫套件識別用，必需要唯一值不可重複，請參考頁面下方 javascript 邏輯。 -->
                            <div class="c-carousel c-carousel--process swiper" data-swiper="process">
                                <div class="c-carousel__wrapper swiper-wrapper">
                                    <div class="c-process__item c-carousel__slide swiper-slide">
                                        <div class="c-processCard">
                                            <div class="c-processCard__head">
                                                <div class="c-processCard__step">Step 1</div>
                                                <div class="c-processCard__title">登入</div>
                                            </div>
                                            <div class="c-processCard__content">
                                                <span>註冊或登入</span>
                                                <a href="#" class="o-link">中國信託網路銀行</a>
                                            </div>
                                            <div class="c-processCard__img">
                                                <img src="./content/images/section/process/step01.png" alt="step01">
                                            </div>
                                        </div>
                                        <div class="c-process__next">
                                            <i class="o-icon o-icon--next"></i>
                                        </div>
                                    </div>
                                    <div class="c-process__item c-carousel__slide swiper-slide">
                                        <div class="c-processCard">
                                            <div class="c-processCard__head">
                                                <div class="c-processCard__step">Step 2</div>
                                                <div class="c-processCard__title">點選</div>
                                            </div>
                                            <div class="c-processCard__content">
                                                <span class="c-processCard__order">信用卡<i class="o-icon o-icon--nextSm"></i>卡片管理<i class="o-icon o-icon--nextSm"></i></span>
                                                <span>點選 uniopen 聯名卡</span>
                                            </div>
                                            <div class="c-processCard__img">
                                                <img src="./content/images/section/process/step02.png" alt="step01">
                                            </div>
                                        </div>
                                        <div class="c-process__next">
                                            <i class="o-icon o-icon--next"></i>
                                        </div>
                                    </div>
                                    <div class="c-process__item c-carousel__slide swiper-slide">
                                        <div class="c-processCard">
                                            <div class="c-processCard__head">
                                                <div class="c-processCard__step">Step 3</div>
                                                <div class="c-processCard__title">前往</div>
                                            </div>
                                            <div class="c-processCard__content">
                                                <span>請完成 uniopen 會員連結</span>
                                            </div>
                                            <div class="c-processCard__img">
                                                <img src="./content/images/section/process/step03.png" alt="step01">
                                            </div>
                                        </div>
                                        <div class="c-process__next">
                                            <i class="o-icon o-icon--next"></i>
                                        </div>
                                    </div>
                                    <div class="c-process__item c-carousel__slide swiper-slide">
                                        <div class="c-processCard">
                                            <div class="c-processCard__head">
                                                <div class="c-processCard__step">Step 4</div>
                                                <div class="c-processCard__title">登入</div>
                                            </div>
                                            <div class="c-processCard__content">
                                                <span>立即開始連結流程</span>
                                            </div>
                                            <div class="c-processCard__img">
                                                <img src="./content/images/section/process/step04.png" alt="step01">
                                            </div>
                                        </div>
                                        <div class="c-process__next">
                                            <i class="o-icon o-icon--next"></i>
                                        </div>
                                    </div>
                                    <div class="c-process__item c-carousel__slide swiper-slide">
                                        <div class="c-processCard">
                                            <div class="c-processCard__head">
                                                <div class="c-processCard__step">Step 5</div>
                                                <div class="c-processCard__title">登入</div>
                                            </div>
                                            <div class="c-processCard__content">
                                                <span>確認留存於中信的手機號碼</span>
                                                <span>與 uniopen 會員一致</span>
                                            </div>
                                            <div class="c-processCard__img">
                                                <img src="./content/images/section/process/step05.png" alt="step01">
                                            </div>
                                        </div>
                                        <div class="c-process__next">
                                            <i class="o-icon o-icon--next"></i>
                                        </div>
                                    </div>
                                    <div class="c-process__item c-carousel__slide swiper-slide">
                                        <div class="c-processCard">
                                            <div class="c-processCard__head">
                                                <div class="c-processCard__step">Step 6</div>
                                                <div class="c-processCard__title">完成</div>
                                            </div>
                                            <div class="c-processCard__content">
                                                <span>依據流程引導</span>
                                                <span>完成會員連結</span>
                                            </div>
                                            <div class="c-processCard__img">
                                                <img src="./content/images/section/process/step06.png" alt="step01">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-process__footer"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        // swiper
        const processSettings = $.extend(true, {}, carouselSettings, {
            freeMode: true,
            loop: false,
            slidesPerView: 'auto',
            autoplay: false
        });

        new Swiper('[data-swiper="process"]', processSettings);
    </script>
{% endblock %}