{% extends './_layouts/_layout.tmpl' %}

{% set headerType = "process" %}

{% block content %}
    <div class="l-block">
        <div class="l-block__item l-block__item--process">
            <div class="l-block__content">
                <div class="c-process">
                    <div class="c-process__title">
                        <div class="c-title">
                            <div class="c-title__head">
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--line"></div>
                                </div>
                                <div class="c-title__text">uniopen聯名卡全新上市</div>
                                <div class="c-title__icon">
                                    <div class="o-icon o-icon--lineRight"></div>
                                </div>
                            </div>
                            <div class="c-title__discount">請依照以下流程完成uniopen會員連結方能獲得OPENPOINT回饋</div>
                            <div class="c-title__register">若您未註冊，請於收到實體卡後至　<span class="t7 t-gd">中國信託網路銀行</span>　完成註冊</div>
                        </div>
                    </div>
                    <div class="c-process__content"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}{% endblock %}